[submodule "prog-langs/assignment-1-io-library"]
	path = prog-langs/assignment-1-io-library
	url = https://gitlab.se.ifmo.ru/Arlet/assignment-1-io-library
[submodule "prog-langs/assignment-2-dictionary"]
	path = prog-langs/assignment-2-dictionary
	url = https://gitlab.se.ifmo.ru/Arlet/assignment-2-dictionary
[submodule "prog-langs/assignment-3-image-rotation"]
	path = prog-langs/assignment-3-image-rotation
	url = https://gitlab.se.ifmo.ru/Arlet/assignment-3-image-rotation
